<!DOCTYPE html>
<html>
<head>
  <title>Botón de WhatsApp</title>
  <style>
    .whatsapp-button {
      background-color: #25D366;
      color: #fff;
      border: none;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <a class="whatsapp-button" href="https://wa.me/+573137747548" target="_blank">Iniciar chat de WhatsApp</a>
</body>
</html>
